<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje odeljenja</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Ažuriranje odeljenja: {{data.id}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje odeljenja: {{data.id}}</h3>
  
    <form class="mat-dialog-content" #formControl="ngForm">
       <div class="form">
        <mat-form-field>
            <input matInput placeholder="Naziv" name="Naziv" [disabled]="flag==3" [(ngModel)]="data.naziv" required />
        </mat-form-field>
       </div>
  
       <div class="form">
        <mat-form-field>
            <input matInput placeholder="Lokacija" name="Lokacija" [disabled]="flag==3" [(ngModel)]="data.lokacija" required />
        </mat-form-field>
       </div>
  
       <div class="form">
        <mat-select [compareWith]="compare" placeholder="Bolnica" name="Bolnica"
         [disabled]="flag==3" [(ngModel)]="data.bolnica" required>
            <mat-option *ngFor="let bolnica of bolnicas" [value]="bolnica">
                {{bolnica.naziv}}
            </mat-option>
        </mat-select>
       </div>
  
  
    </form>
  
    <div class="mat-dialog-actions">
        <button matButton *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()" >Sačuvaj</button>
        <button matButton *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="update()">Modifikuj</button>
        <button matButton *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Obriši</button>
        <button matButton (click)="cancel()">Poništi</button>
    </div>
  </div>