<!DOCTYPE html>
<html>
<head>
  <title>Aplikacija za pretragu pacijenata</title>
  <link rel="stylesheet" type="text/css" href="about.component.css">
</head>
<body>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#e7008a" fill-opacity="1" d="M0,256L21.8,218.7C43.6,181,87,107,131,90.7C174.5,75,218,117,262,122.7C305.5,128,349,96,393,106.7C436.4,117,480,171,524,202.7C567.3,235,611,245,655,208C698.2,171,742,85,785,80C829.1,75,873,149,916,165.3C960,181,1004,139,1047,112C1090.9,85,1135,75,1178,90.7C1221.8,107,1265,149,1309,154.7C1352.7,160,1396,128,1418,112L1440,96L1440,0L1418.2,0C1396.4,0,1353,0,1309,0C1265.5,0,1222,0,1178,0C1134.5,0,1091,0,1047,0C1003.6,0,960,0,916,0C872.7,0,829,0,785,0C741.8,0,698,0,655,0C610.9,0,567,0,524,0C480,0,436,0,393,0C349.1,0,305,0,262,0C218.2,0,175,0,131,0C87.3,0,44,0,22,0L0,0Z"></path></svg>
  <div style="margin-left: 50px;">

    <h1>O Nama</h1>
    <p>
      Dobrodošli na našu aplikaciju, razvijenu da vam omogući jednostavno i efikasno upravljanje podacima o bolnicama, odeljenjima, dijagnozama i pacijentima. Naša platforma pruža sveobuhvatan skup alata za upravljanje ključnim informacijama koje su neophodne za vođenje bolnica i odeljenja, čime vam pomažemo da unapredite organizaciju i funkcionalnost vaših zdravstvenih ustanova.
    </p>
    <h2>Glavne funkcionalnosti:</h2>
      <ul>
      <LI>Pregled svih bolnica: Detaljan prikaz svih bolnica sa ključnim informacijama.</LI>
      <LI>Dodavanje novih bolnica: Jednostavan način za unos novih bolnica u sistem.</LI>
      <LI>Izmena podataka o bolnicama: Ažuriranje informacija kao što su naziv, adresa i budžet.</LI>
      <LI>Brisanje bolnica: Uklanjanje bolnica koje više nisu aktivne.</LI>
      <LI>Pregled odeljenja: Uvid u strukturu odeljenja unutar svake bolnice.</LI>
      <LI>Upravljanje odeljenjima: Dodavanje, izmena i brisanje odeljenja unutar bolnica.</LI>
      <LI>Praćenje dijagnoza: Unos, izmena i pregled dijagnoza koje se primenjuju u okviru odeljenja.</LI>
      <LI>Upravljanje pacijentima: Praćenje podataka o pacijentima unutar odeljenja, uključujući dodavanje novih pacijenata, izmenu postojećih informacija i brisanje pacijenata koji više nisu u sistemu.</LI>
    </ul>

  </div>
  </body>
</html>
