<mat-toolbar class="naslov">
    <span class="title-center">Dijagnoza</span>
  </mat-toolbar>
  
  <div class="container mat-elavation-z8">

    <div class="filter-field" style="background-color: pink !important;">
      <mat-form-field subscriptSizing="dynamic" class="searchbar">
        <input matInput placeholder="PRETRAZI" name="filterField" (keyup)="applyFilter($event)"/>
      </mat-form-field>
    </div>
    <mat-table [dataSource]="dataSource" class="red1">
  
      <ng-container matColumnDef="naziv">
        <mat-header-cell *matHeaderCellDef>Naziv</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.naziv}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="opis">
        <mat-header-cell *matHeaderCellDef>Opis</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.opis }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="oznaka">
        <mat-header-cell *matHeaderCellDef>Oznaka</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.oznaka }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="accent" (click)="openDialog(1)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <button mat-icon-button color="accent" (click)="openDialog(2, row.id, row.naziv,
          row.opis, row.oznaka)">
            <mat-icon color="accent" aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="openDialog(3, row.id, row.naziv,
          row.opis, row.oznaka)">
            <mat-icon color= "warn" aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
    <mat-row style="cursos: pointer;" *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>

  <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3,6,9,12]" style="background-color: palevioletred; font-weight: 900;">
  </mat-paginator>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#e7008a" fill-opacity="1" d="M0,128L34.3,133.3C68.6,139,137,149,206,128C274.3,107,343,53,411,58.7C480,64,549,128,617,128C685.7,128,754,64,823,58.7C891.4,53,960,107,1029,144C1097.1,181,1166,203,1234,192C1302.9,181,1371,139,1406,117.3L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
      
    
  
  
     